generic_data_display/data_sim/resources/data_definitions/xml/xml_http_test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="test">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="format" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="ts" type="xsd:dateTime" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="status" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="increment" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
